<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.println.kotlin.mybatis.UserMapper">
    <select id="selectUser" resultType="net.println.kotlin.mybatis.User">
        select * from userinfo where id = #{id}
    </select>
</mapper>